{% extends "templates/index.twig" %}

{% block content %}
	<main role="main" class="container">

		<div class="starter-template">
			<h1>Página inicial da {{ name_app }}</h1>

			<p>Este é o caminho base para o css: {{ css }}</p>
			<p>Este é o caminho base para o js: {{ js }}</p>
			<p>Este é o caminho base para as imagens: {{ images }}</p>
			<p>Este é o caminho base para vendor: {{ vendor }}</p>
		</div>

	</main><!-- /.container -->
	
{% endblock %}